@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #191919;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h3{
    text-align: center;
    color: #fff;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
    transition: 0.8s ease-in-out;
}

p{
    text-align: justify;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    font-weight: 400;
    transition: 0.8s ease-in-out;
}

.go_corner{
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: #fff;
    border-radius: 0 4px 0 32px;
    display: flex;
    justify-content: center;

}

.go_arrow{
    margin-top: -4px;
    margin-right: -4px;
    color: #000;
    font-family: courier, sans;
}

.card{
    display: block;
    position: relative;
    max-width: 262px;
    background: #525252;
    border-radius: 8px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(38, 38, 38, 0.2);
}

.card:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #fff;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.8s ease-in-out;
}



.card img{
    margin-left: 25%;
    width: 50%;
}

.card:hover:before{
    transform: scale(30);
}

.card:hover p{
    color: rgba(0, 0, 0, 0.8);
}

.card:hover h3{
    color: #000;
}